body {
    display: flex;
    justify-content: center;
    background-color: #454747;
}

.container{
    display: grid;
    grid-template-rows: repeat(48, 25px);
    grid-template-columns: repeat(48, 25px);
    
    border-radius: 100%;
    border: 10px solid black;
}
.leftEye {
    background-color: black;
    grid-row: 13 / 18;
    grid-column: 13 / 18;
    border-radius: 100%;
}
.rightEye {
    background-color: black;
    grid-row: 13 / 18;
    grid-column: 33 / 38;
    border-radius: 100%;
}
.leftiris{
    background-color: blue;
    grid-row: 14 / 16;
    grid-column: 15 / 20;
    border-radius: 100%;
}
.rightiris{
    background-color: blue;
    grid-row: 14 / 16;
    grid-column: 35 / 40;
    border-radius: 100%;
}

.lefteyebrow1{
    background-color: white;
    grid-row: 11 / 11;
    grid-column: 18 / 18;
    width: 5px;

}
.lefteyebrow2{
    background-color: white;
    grid-row: 11 / 11;
    grid-column: 17 / 17;
    width: 5px;

}
.lefteyebrow3{
    background-color: white;
    grid-row: 11 / 11;
    grid-column: 16 / 16;
    width: 5px;

}
.lefteyebrow4{
    background-color: white;
    grid-row: 11 / 11;
    grid-column: 15 / 15;
    width: 5px;

}
.lefteyebrow5{
    background-color: white;
    grid-row: 11 / 11;
    grid-column: 14 / 14;
    width: 5px;

}
.lefteyebrow6{
    background-color: white;
    grid-row: 11 / 11;
    grid-column: 13 / 13;
    width: 5px;

}
.lefteyebrow7{
    background-color: white;
    grid-row: 12 / 12;
    grid-column: 19 / 19;
    width: 5px;

}
.lefteyebrow8{
    background-color: white;
    grid-row: 11 / 11;
    grid-column: 12 / 12;
    width: 5px;

}
.righteyebrow1{
    background-color: white;
    grid-row: 12 / 12;
    grid-column: 33 / 33;
    width: 5px;

}
.righteyebrow2{
    background-color: white;
    grid-row: 11 / 11;
    grid-column: 34 / 34;
    width: 5px;

}
.righteyebrow3{
    background-color: white;
    grid-row: 11 / 11;
    grid-column: 35 / 35;
    width: 5px;

}
.righteyebrow4{
    background-color: white;
    grid-row: 11 / 11;
    grid-column: 36 / 36;
    width: 5px;

}
.righteyebrow5{
    background-color: white;
    grid-row: 11 / 11;
    grid-column: 37 / 37;
    width: 5px;

}
.righteyebrow6{
    background-color: white;
    grid-row: 11 / 11;
    grid-column: 38 / 38;
    width: 5px;

}
.righteyebrow7{
    background-color: white;
    grid-row: 11 / 11;
    grid-column: 39 / 39;
    width: 5px;

}
.righteyebrow8{
    background-color: white;
    grid-row: 11 / 11;
    grid-column: 40 / 40;
    width: 5px;

}
.leftnose{
    background-color: rgb(113, 124, 63);
    grid-row: 25 / 27;
    grid-column: 38 / 38;
    border-radius: 100%;
    z-index: 1;
}
.rightnose{
    background-color: rgb(113, 124, 63);
    grid-row: 25 / 29;
    grid-column: 35 / 35;
    border-radius: 100%;
    z-index: 1;
}
.nose1{
    background-color: black;
    grid-row: 21 / 21;
    grid-column: 25 / 25
}
.nose2{
    background-color: black;
    grid-row: 22 / 22;
    grid-column: 25 / 29;
}
.nose3{
    background-color: black;
    grid-row: 23 / 23;
    grid-column: 26 / 30;
}
.nose4{
    background-color: black;
    grid-row: 22 / 22;
    grid-column: 29 / 31;
}
.nose5{
    background-color: black;
    grid-row: 21 / 21;
    grid-column: 30 / 33;
}
.nose6{
    background-color: black;
    grid-row: 20 / 20;
    grid-column: 32 / 34;
}
.nose7{
    background-color: black;
    grid-row: 19 / 19;
    grid-column: 33 / 36;
}
.nose8{
    background-color: black;
    grid-row: 18 / 18;
    grid-column: 35 / 39;
}
.nose9{
    background-color: black;
    grid-row: 19 / 19;
    grid-column: 38 / 40;
}
.nose10 {
    background-color: black;
    grid-row: 20 / 20;
    grid-column: 39 / 41;
}
.nose11{
    background-color: black;
    grid-row: 21 / 21;
    grid-column: 40 / 42;
}
.nose12{
    background-color: black;
    grid-row: 22 / 24;
    grid-column: 41 / 41;
}
.nose13{
    background-color: black;
    grid-row: 24 / 24;
    grid-column: 40 / 42;
}
.nose14{
    background-color: black;
    grid-row: 25 / 25;
    grid-column: 39 / 41;
}
.nose15{
    background-color: black;
    grid-row: 26 / 26;
    grid-column: 38 / 40;
}
.nose16{
    background-color: black;
    grid-row: 27 / 27;
    grid-column: 39 / 33;
}
.nose17{
    background-color: black;
    grid-row: 26 / 26;
    grid-column: 31 / 34;
}
.nose18{
    background-color: black;
    grid-row: 25 / 25;
    grid-column: 30 / 32;
}
.nose19{
    background-color: black;
    grid-row: 24 / 24;
    grid-column: 28 / 31;
}

/*Starting mouth here */

.mouth1{
    background-color: red;
    grid-row: 29 / 31;
    grid-column: 14 / 14;
}
.mouth2{
    background-color: red;
    grid-row: 30 / 32;
    grid-column: 15 / 15;
}
.mouth3{
    background-color: red;
    grid-row: 31 / 33;
    grid-column: 16 / 16;
}
.mouth4{
    background-color: red;
    grid-row: 32 / 34;
    grid-column: 17 / 17;
}
.mouth5{
    background-color: red;
    grid-row: 33 / 35;
    grid-column: 18 / 18;
}
.mouth6{
    background-color: red;
    grid-row: 34 / 36;
    grid-column: 19 / 19;
}
.mouth7{
    background-color: red;
    grid-row: 35 / 35;
    grid-column: 20 / 25;
}
.mouth8{
    background-color: red;
    grid-row: 34 / 36;
    grid-column: 25 / 27;
}
.mouth9{
    background-color: red;
    grid-row: 33 / 35;
    grid-column: 27 / 29;
}
.mouth10{
    background-color: red;
    grid-row: 32 / 34;
    grid-column: 29 / 31;
}
.mouth11{
    background-color: red;
    grid-row: 31 / 33;
    grid-column: 31 / 33;
}
.mouth12{
    background-color: red;
    grid-row: 30 / 32;
    grid-column: 33 / 35;
}
.mouth13{
    background-color: red;
    grid-row: 29 / 31;
    grid-column: 35 / 39;
}
.mouth14{
    background-color: red;
    grid-row: 28 / 30;
    grid-column: 39 / 42;
}
.mouth15{
    background-color: red;
    grid-row: 29 / 31;
    grid-column: 42 / 42;
}
.mouth16{
    background-color: red;
    grid-row: 30 / 32;
    grid-column: 43 / 43;
}
.mouth17{
    background-color: red;
    grid-row: 31 / 33;
    grid-column: 44 / 44;
}
.mouth18{
    background-color: red;
    grid-row: 32 / 35;
    grid-column: 45 / 45;
}
.mouth19{
    background-color: red;
    grid-row: 35 / 35;
    grid-column: 44 / 46;
}
.mouth20{
    background-color: red;
    grid-row: 36 / 36;
    grid-column: 43 / 45;
}
.mouth21{
    background-color: red;
    grid-row: 37 / 37;
    grid-column: 42 / 44;
}
.mouth22{
    background-color: red;
    grid-row: 38 / 38;
    grid-column: 41 / 43;
}
.mouth23{
    background-color: red;
    grid-row: 39 / 39;
    grid-column: 40 / 42;
}
.mouth24{
    background-color: red;
    grid-row: 40 / 40;
    grid-column: 39 / 41;
}
.mouth25{
    background-color: red;
    grid-row: 41 / 41;
    grid-column: 38 / 40;
}
.mouth26{
    background-color: red;
    grid-row: 42 / 42;
    grid-column: 37 / 39;
}
.mouth27{
    background-color: red;
    grid-row: 43 / 43;
    grid-column: 36 / 38;
}
.mouth28{
    background-color: red;
    grid-row: 29 / 37;
    grid-column: 13 / 13;
}
.mouth29{
    background-color: red;
    grid-row: 36 / 38;
    grid-column: 14 / 14;
}
.mouth30{
    background-color: red;
    grid-row: 37 / 39;
    grid-column: 15 / 15;
}
.mouth31{
    background-color: red;
    grid-row: 38 / 40;
    grid-column: 16 / 16;
}
.mouth32{
    background-color: red;
    grid-row: 39 / 41;
    grid-column: 17 / 17;
}
.mouth33{
    background-color: red;
    grid-row: 40 / 42;
    grid-column: 18 / 18;
}
.mouth34{
    background-color: red;
    grid-row: 41 / 43;
    grid-column: 19 / 19;
}
.mouth35{
    background-color: red;
    grid-row: 42 / 44;
    grid-column: 20 / 20;
}
.mouth36{
    background-color: red;
    grid-row: 43 / 45;
    grid-column: 21 / 21;
}
.mouth37{
    background-color: red;
    grid-row: 44 / 44;
    grid-column: 22 / 37;
}
.mouth38{
    background-color: white;
    grid-row: 31 / 36;
    grid-column: 34 / 38;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
.mouth39{
    background-color: white;
    grid-row: 38 / 44;
    grid-column: 22 / 26;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
}
.hair1{
    background-color: yellow;
    grid-row: 1 / 8;
    grid-column: 25 / 25;
    width: 5px;
}
.hair2{
    background-color: yellow;
    grid-row: 1 / 7;
    grid-column: 24 / 24;
    width: 5px;
}
.hair3{
    background-color: yellow;
    grid-row: 1 / 9;
    grid-column: 23 / 23;
    width: 5px;
}
.hair4{
    background-color: yellow;
    grid-row: 1 / 6;
    grid-column: 22 / 22;
    width: 5px;
}
.hair5{
    background-color: yellow;
    grid-row: 1 / 7;
    grid-column: 21 / 21;
    width: 5px;
}
.hair6{
    background-color: yellow;
    grid-row: 1 / 6;
    grid-column: 20 / 20;
    width: 5px;
}
.hair7{
    background-color: yellow;
    grid-row: 1 / 5;
    grid-column: 19 / 19;
    width: 5px;
    margin-top: 12px;
}
.hair8{
    background-color: yellow;
    grid-row: 1 / 12;
    grid-column: 26 / 26;
    width: 5px;
}
.hair9{
    background-color: yellow;
    grid-row: 1 / 10;
    grid-column: 27 / 27;
    width: 5px;
}
.hair10{
    background-color: yellow;
    grid-row: 1 / 7;
    grid-column: 28 / 28;
    width: 5px;
}
.hair11{
    background-color: yellow;
    grid-row: 1 / 7;
    grid-column: 29 / 29;
    width: 5px;
}
.hair12{
    background-color: yellow;
    grid-row: 1 / 7;
    grid-column: 30 / 30;
    width: 5px;
    margin-top: 5px;
}
.hair13{
    background-color: yellow;
    grid-row: 1 / 9;
    grid-column: 31 / 31;
    width: 5px;
    margin-top: 12px;
}
.hair14{
    background-color: yellow;
    grid-row: 1 / 9;
    grid-column: 32 / 32;
    width: 5px;
    margin-top: 16px;
}
.hair15{
    background-color: yellow;
    grid-row: 1 / 9;
    grid-column: 18 / 18;
    width: 5px;
    margin-top: 22px;
}
.hair16{
    background-color: yellow;
    grid-row: 1 / 7;
    grid-column: 17 / 17;
    width: 5px;
    margin-top: 29px;
}
.hair17{
    background-color: yellow;
    grid-row: 1 / 5;
    grid-column: 16 / 16;
    width: 5px;
    margin-top: 38px;
}
.hair18{
    background-color: yellow;
    grid-row: 1 / 4;
    grid-column: 15 / 15;
    width: 5px;
    margin-top: 47px;
}
.hair19{
    background-color: yellow;
    grid-row: 1 / 8;
    grid-column: 33 / 33;
    width: 5px;
    margin-top: 30px;
}
.hair20{
    background-color: yellow;
    grid-row: 1 / 7;
    grid-column: 34 / 34;
    width: 5px;
    margin-top: 37px;
}
.hair21{
    background-color: yellow;
    grid-row: 1 / 6;
    grid-column: 35 / 35;
    width: 5px;
    margin-top: 47px;
}
.hair22{
    background-color: yellow;
    grid-row: 3 / 6;
    grid-column: 36 / 36;
    width: 5px;
    margin-top: 5px;
    
}
.hair23{
    background-color: yellow;
    grid-row: 4 / 6;
    grid-column: 37 / 37;
    width: 5px;
    
}
.hair24{
    background-color: yellow;
    grid-row: 4 / 6;
    grid-column: 38 / 38;
    width: 5px;
    margin-top: 15px;
    
    
}